section.about
    align-items: center;
    background: rgb(40,55,65)
    color: #ffffff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;