section.contact
    align-items: center;
    background: rgb(35,48,58);
    color: #ffffff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    height: calc(100vh - 50px);