section.projects
    align-items: center;
    background: #ffffff;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 150px;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;

    div.title
        h1
            color: rgb(40,55,65)
            font-size: 3.2em;
            margin-block-start: 0em;
            margin-block-end: 0em;
            text-align: center;

        h3
            color: rgba(40,55,65, 0.6)
            margin-block-start: 0em;
            margin-block-end: 0em;
            text-align: center;

    h1.other-title
        color: rgb(40,55,65)
        font-size: 2.6em;
        margin-block-start: 0em;
        margin-block-end: 0em;
        text-align: center;